.pokemon-card {
  -fx-border-width: 10px;
  -fx-border-radius: 5px;
  -fx-border-color: @border-gray;
  -fx-background-radius: 5px;
}

.img-box {
  -fx-border-color: @border-gray;
  -fx-border-width: 2px;
}